
<h1>Autentique-se</h1>

<form ng-submit="login(form)">
    <fieldset>

        <div class="row">
            <div class="columns">
                <label>Nome de usuário</label>
                <input type="text" placeholder="login" ng-model="form.user">
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <label>Senha</label>
                <input type="password" ng-model="form.password">
            </div>
        </div>

    </fieldset>

    <input type="submit" class="button" value="Entrar" />
</form>
