<h1>
    Alterar localização do patrimoio
</h1>

<dl>
    <dt>PI Nº</dt>
    <dd>{{patrimony.id}}</dd>
</dl>

<dl>
    <dt>Descricao</dt>
    <dd>{{patrimony.description}}</dd>
</dl>

<form ng-submit="save()">
    <fieldset>
        <legend>Alterar localização</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>Prédio</label>
                <select ng-model="form.building">
                    <option value="74">IC1</option>
                    <option value="75">IC2</option>
                    <option value="711">IC3</option>
                    <option value="1366">IC3.5</option>
                    <option value="724">INOVA</option>
                </select
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Piso</label>
                <input type="text" ng-model="form.floor">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Complemento</label>
                <input type="text" ng-model="form.complement">
            </div>
        </div>

    </fieldset>
    <input type="submit" class="button" value="Enviar Requisição" />
</form>
