<dl>
    <dt>PI Nº</dt>
    <dd>{{patrimony.id}}</dd>
</dl>

<dl>
    <dt>Departamento</dt>
    <dd>{{patrimony.department}}</dd>
</dl>

<dl>
    <dt>Processo</dt>
    <dd>{{patrimony.process}}</dd>
</dl>

<dl>
    <dt>Docuemnt</dt>
    <dd>{{patrimony.document}}</dd>
</dl>

<dl>
    <dt>Serial Number</dt>
    <dd>{{patrimony.serialNumber}}</dd>
</dl>

<dl>
    <dt>Situação</dt>
    <dd>{{patrimony.situation}}</dd>
</dl>

<dl>
    <dt>Descricao</dt>
    <dd>{{patrimony.description}}</dd>
</dl>

<dl>
    <dt>Marca</dt>
    <dd>{{patrimony.mark}}</dd>
</dl>

<dl>
    <dt>Modelo</dt>
    <dd>{{patrimony.model}}</dd>
</dl>

<dl>
    <dt>Data de Aquisição</dt>
    <dd>{{patrimony.acquisitionDate}}</dd>
</dl>

<dl>
    <dt>Data de Encerramento</dt>
    <dd>{{patrimony.closingDate}}</dd>
</dl>

<form ng-submit="save()">
    <fieldset>
        <legend>Alterar localização</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>Prédio</label>
                <input type="text" ng-model="form.building">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Piso</label>
                <input type="text" ng-model="form.floor">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Complemento</label>
                <input type="text" ng-model="form.complement">
            </div>
        </div>

    </fieldset>
    <input type="submit" class="button" value="Enviar" />
</form>

building complement floor
