<form ng-submit="save()">
    <fieldset>
        <legend>Alterar localização</legend>

        <div class="row">
            <div class="large-12 columns">
                <label>Prédio</label>
                <input type="text" ng-model="form.building">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Piso</label>
                <input type="text" ng-model="form.floor">
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <label>Complemente</label>
                <input type="text" ng-model="form.complement">
            </div>
        </div>

    </fieldset>
    <input type="submit" class="button" value="Enviar" />
</form>
